# Node
node_modules
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist
packages/*/dist
packages/*/build

# OS
.DS_Store

# Test output
coverage
*.log

# Environment
.env
.env.*
